Source: ros-hydro-pr2-tuck-arms-action
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-pr2-common-action-msgs, ros-hydro-pr2-controllers-msgs, ros-hydro-rospy, ros-hydro-trajectory-msgs
Homepage: http://wiki.ros.org/pr2_tuck_arms_action
Standards-Version: 3.9.2

Package: ros-hydro-pr2-tuck-arms-action
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-pr2-common-action-msgs, ros-hydro-pr2-controllers-msgs, ros-hydro-rospy, ros-hydro-trajectory-msgs
Description: The pr2_tuck_arms_action package
