Source: ros-melodic-joint-trajectory-generator
Section: misc
Priority: extra
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib, ros-melodic-angles, ros-melodic-catkin, ros-melodic-joint-trajectory-action, ros-melodic-orocos-kdl, ros-melodic-pr2-controllers-msgs, ros-melodic-roscpp, ros-melodic-urdf
Homepage: http://ros.org/wiki/joint_trajectory_generator
Standards-Version: 3.9.2

Package: ros-melodic-joint-trajectory-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-angles, ros-melodic-joint-trajectory-action, ros-melodic-orocos-kdl, ros-melodic-pr2-controllers-msgs, ros-melodic-roscpp, ros-melodic-urdf
Description: joint_trajectory_generator action takes in a trajectory specified by a number of joint positions, and it generates a new smooth trajectory through these joint positions.
